<html>

<head>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="bootstrap.bundle.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
</head>

<body ng-app="flags" ng-controller="flagsCtrl" data-ng-init="init()">
    <h1>Capitals Quiz</h1>
    <button ng-click="createQuiz()" ng-hide="quizStarted" class="btn btn-success">START</button>

    <div ng-show="quizStarted && !quizCompleted">
        <h3>Question {{currentQuestionIndex+1}}</h3>
        <p>{{quiz.questions[currentQuestionIndex]}}</p>
        <div class="radio" ng-repeat="answer in quiz.possibleAnswers[currentQuestionIndex]">
            <label>
                <input type="radio" name="currentAnswer" ng-model="quiz.selectedAnswers[currentQuestionIndex]" ng-value="answer" /> {{answer}}
            </label>
        </div>
        <button ng-show="currentQuestionIndex > 0" ng-click="previousClicked()" class="btn btn-primary">Previous</button>
        <button ng-show="currentQuestionIndex < numberOfQuestions-1" ng-click="nextClicked()" class="btn btn-primary">Next</button>
        <button ng-click="finishClicked()" class="btn btn-primary">Submit</button>
    </div>

    <div ng-show="quizCompleted">
        <h2>Your score: {{quizScore}}/100</h2>
        <h2>High score: {{highScore}}/100</h2>
        <button ng-click="createQuiz()" class="btn btn-success">START ANOTHER</button>
    </div>
</body>

</html>